@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

/* header section start */
header{
    margin: 0 auto;
    margin-top: 20px;
    height: 500px;
    max-width: 1100px;
    border-radius: 20px;
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.626);
    background-blend-mode: overlay;
}

.header-text{
    color: white;
    text-align: center;
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text h1{
    font-size: 72px;
    font-weight: bolder;
}

.header-text h3{
    font-size: 32px;
}
/* header section end */


/* new-year section start */
.new-year{
    margin-top: 70px;
}

.new-year-container-text{
    text-align: center;
}

.new-year-container-text h1{
    color: red;
    font-size: 40px;
}

.new-year-container-text h6{
    color: gray;
    margin: 15px 0;
}

.new-year-container-img{
    text-align: center;
}

.new-year-container-img img{
    height: 300px;
    margin-top: 25px;
}
/* new-year section end */

/* midnight-party section start */
.midnight-party{
    margin-top: 70px;
}

.midnight-party-container{
    margin: 0 auto;
    height: 500px;
    max-width: 1100px;
    border-radius: 20px;
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.626);
    background-blend-mode: overlay;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.midnight-party-container-text{
    color: white;
    width: 600px;
}

.midnight-party-container-text h1{
    font-size: 64px;
}

.midnight-party-container-text p{
    color: rgba(255, 255, 255, 0.712);
    margin: 15px 0;
}

.midnight-party-container-text button{
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.midnight-party-container-text button:hover{
    background-color: rgba(255, 255, 255, 0.553);
}

.midnight-party-container-img img{
    height: 350px;
}
/* midnight-party section end */

/* location-section start */
.location-section{
    margin-top: 70px;
}

.location-section-container{
    max-width: 1100px;
    height: 250px;
    margin: 0 auto;
    border-radius: 16px;
    background-image: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.location-section-container-text span{
    color: red;
}

.date-heading{
    margin: 10px 0;
}

.location-section-container-text button{
    padding: 10px 20px;
    margin-top: 25px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.location-section-container-text button:hover{
    background-color: rgb(166, 5, 5);
}
/* location-section end */


/* offer-section start */
.offer-section{
    margin-top: 70px;
}

.offer-section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.offer-section-container h4{
    color: red;
}

.offer-section-container h1{
    margin: 15px 0;
}

.offer-section-container p{
    color: gray;
}

.best-offer-img{
    height: 300px;
    width: 300px;
    border: 10px solid red;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.best-offer-img img{
    height: 250px;
    width: 250px;
}


.best-offer-text-2 h1{
    color: red;
}

.best-offer-text-2 img{
    height: 100px;
    width: 100px;
    margin-top: 10px;
}
/* offer-section end */

/* holidays-seciton start */
.holidays-seciton{
    margin-top: 70px;
}

.holidas-seciton-container{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.holidas-seciton-container h1{
    font-size: 40px;
    margin: 15px 0;
}

.holidas-seciton-container h1 span{
    color: red;
}

.holidas-seciton-container p{
    color: gray;
}
/* holidays-seciton end */

/* subscrib-section start */
.subscrib-section{
    margin-top: 70px;
}

.subscrib-section-container{
    max-width: 1100px;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 50px;
    border-radius: 20px;
}

.subscrib-section-container i{
    font-size: 70px;
    color: rgb(245, 152, 21);
}

.subscrib-section-container h1{
    font-size: 35px;
    font-weight: bolder;
    margin: 15px 0;
}

.subscrib-section-container p{
    color: gray;
}

.email-container{
    margin-top: 20px;
    position: relative;
}

.email-container input{
    width: 450px;
    height: 45px;
    border: 0;
    border-radius: 22px;
    padding-left: 15px;
    padding-right: 128px;
    font-size: 16px;
}

.email-btn{
    position: absolute;
    right: 275px;
    bottom: 1px;
}

.email-btn button{
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
    padding: 0 30px;
    height: 44px;
    border: 0;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
/* subscrib-section end */

/* footer section start */
footer{
    margin-top: 70px;
    background-color: black;
    color: white;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-container{
    max-width: 1100px;
    margin: 0 auto;
}

.footer-text-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-bottom: 50px;
}

.footer-icon-container{
    text-align: center;
    font-size: 40px;
}

.footer-icon-container a{
    color: white;
    margin-right: 10px;
}

.last-para{
    text-align: center;
    font-size: 10px;
    margin-top: 50px;
}
/* footer section end */